body {
    background-color: #aaaaaa;
}

.white-title {
    text-align:center;
    color:white;
}

.white {
    text-align:center;
    color:white;
    font-size: 20px;
}

.button {
    width: 70px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

#rules-table {
    float: right;
    margin-right: 30px;
    background: #999999;
}

#buttons-div {
    margin-left: 30px;
    margin-bottom: 20px;
}

#presentation {
    float: left;
    margin-left: 30px;
}