body {
    background-color: #aaaaaa;
}

.white-title {
    text-align:center;
    color:white;
}

.white {
    text-align:center;
    color:white;
    font-size: 20px;
}

.board {
    float: left;
}

.rules-table {
    margin-left: 10px;
    background: #999999;
    float: left;
}